.newsfeed{

    padding: 64px 5%;

}
.news-sections{
    position: relative;
}

.posts-section{
    padding: 2%;
}
.menu-left-section{

    position: fixed;
}

.menu-right-section{

    position: fixed;
}
.new-post{
    margin-bottom: 2%;
}

/*groups-list*/
.groups-list{
    height: 50vh;
    overflow-y: scroll;
}
.groups-list::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
.groups-list2{
    height: 40vh;
    overflow-y: scroll;
}
.newsfeed-link{
    text-decoration: none;
    color: black;
}
.newsfeed-link:hover{
    text-decoration: none;
    color: black;
}

.inputimage{
    position: absolute;
    top:30%;
    left:0;

}